{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" >
    <title>Travel Blog</title>
</head>
<body>
    <header>
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo">
        <h1>Travel Blog</h1>
    </header>
    {% include "navbar.html" %}

    {% block content %}
    
    {% endblock content %}
    <p>FOOTER</p>
</body>
</html>

