li {
  display: inline;
} 
h1 {
  color:brown
}

header img { 
  width: 200px; 
  height: 100px; 
  display: block; 
}

header h1 {
  /* position: relative; */
  top: 18px;
}


textarea {
  font-family:'Arial';
}

.test {
  color:brown
}