{% extends "main.html" %}
<!-- {% load static %} -->
{% block content %}

<h2>Travel Posts</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Post Name</th>
        <th>Author</th>
        <th>Votes</th>
        <th>Created</th>
        <th>Link</th>
    </tr>
    {% for travel_post in travel_posts %}
        <tr>
            <td>{{ travel_post.id }}</td>
            <td>{{ travel_post.name }}</td>
            <td>{{ travel_post.author }}</td>
            <td>{{ travel_post.votes_total }}</td>
            <td>{{ travel_post.created }}</td>
            <td><a href="{% url 'travel-post' travel_post.id %}">View</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}