{% extends "main.html" %}

{% block content %}
<h1>{{ travel_post.name }}</h1>
<h5>{{ travel_post.created }}</h5>

<h2>{{ travel_post.text }}</h2>
<ul>
    {% for tag in travel_post.tags.all  %}
        <li>{{ tag.name }}</li>
    {% endfor %}
</ul>

<h4>Click <a href="{% url 'update-travel-post' travel_post.id %}">here</a> to update that post</h4>
<br>
<h2>Comment section:</h2>
<h4>{{ comments_num }} comments</h4>
<hr>
{% for comment in comments %}
    <h3>{{ comment.text }}</h3>
    <h6>{{ comment.created }}</h6>
    <hr>
{% endfor %}

{% endblock content %}